// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// ここからコンテンツの中身
.contents-row {
  height: calc(100% - 134px);  ///ヘッダーとフッターの高さ引く。これあると中途半端な表示がされなくなる。
  width: 960px;
  margin: 0 auto;
  overflow-y: scroll;   //これつけないとbodyの高さ越したらヘッダーより下にcontent_postがいく。
}

.content_post {
  background-size:cover;
  height: 400px;
  width: 500px;
  margin: 30px auto;
  position: relative;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 5px #ffeaea;
  border: solid 5px white;
  border-radius: 8px;
}

.content_post p {
text-align: center;
line-height: 400px;
color: #f08080;
}


.name {
  color: #f08080;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


.pagenation{
  background-color: white;
}

.footer s{
  bottom: 0;
  left: 0;
  width: 100%;
}