<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="material-icons">favorite_border</i>BLOGAPP</a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <%= current_user.nickname %>
      <li><a href="/tweets/new"><i class="material-icons">create</i></a></li>

      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons"></i>create
      <% end %>

      <li><a rel="nofollow" method="delete" href="users/sign_out"><i class="material-icons">view_module</i></a></li>
      <% else %>
      <li><a href="mobile.html"><i class="material-icons">add</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">account_circle</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>

<!--


a {
  color: red;
}

↓こっちが優先される。
.contents a {
  color: bule;
  
} -->
